body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(234, 143, 143);
    margin: 0px;
    padding: 0px;
    background: url('bg2.webp');

}

.left {
    display: inline-block;
    position: absolute;
    left: 42px;
    top: 12px;
    /* border: 2px solid red */
}

.left img {
    width: 100px;
    filter: invert(100%);

}

.left div {
    line-height: 19px;
    font-size: 17px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

    


}

.mid {
    display: block;
    width: 58%;
    margin: 20px auto;
    /* border: 2px solid green */
}

.right {
    position: absolute;
    right: 5px;
    top: 37px;
    display: inline-block;
    /* border: 2px solid yellow */
}

.navbar li {
    display: inline-block;
    font-size: 25px;



}

.navbar {
    display: inline-block;


}

.navbar li a {
    color: rgb(207, 151, 151);
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(153, 149, 149);
}

.btn {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(31, 29, 29);

}

.container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 15px;


}

.form-group input {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid rgb(82, 43, 43);
    text-align: center;
    display: block;
    padding: 1px;
    width: 75%;
    border-radius: 10px;
    margin: 10px 10px 10px 47px;
    font-size: 20px;


}

.container h1 {
    text-align: center;
}

.container button {
    display: inline-block;
    width: 24%;
    margin: 0px 155px;
    text-align: center;
}